In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
import datetime as dt

In [2]:
data = pd.read_csv("C://Users/zihyu/Desktop/새 폴더 (4)/02-1_내국인유동인구_KOREAN.csv", encoding = 'cp949')

In [3]:
data

,base_date,time,city,emd_cd,emd_nm,sex,age,resd_pop_cnt,work_pop_cnt,visit_pop_cnt,resd
0,2018-01-01,1,제주시,50110250,한림읍,여성,0,638.5509,15.5400,151.5149,제주
1,2018-01-01,1,제주시,50110250,한림읍,여성,0,0.0000,3.7249,171.3458,그외
2,2018-01-01,1,제주시,50110250,한림읍,여성,10,668.4577,17.0308,166.0500,제주
3,2018-01-01,1,제주시,50110250,한림읍,여성,10,0.0000,4.2577,195.8539,그외
4,2018-01-01,1,제주시,50110250,한림읍,여성,20,609.7710,5.9490,148.7246,제주
...,...,...,...,...,...,...,...,...,...,...,...
47250191,2021-06-30,24,서귀포시,50130620,예래동,남성,20,0.0000,0.0000,599.1969,그외
47250192,2021-06-30,24,서귀포시,50130620,예래동,남성,20,187.5990,41.9998,75.5996,제주
47250193,2021-06-30,24,서귀포시,50130620,예래동,남성,10,121.8467,0.0000,4.5128,제주
47250194,2021-06-30,24,서귀포시,50130620,예래동,남성,80,122.2190,0.0000,4.5032,제주
47250195,2021-06-30,24,서귀포시,50130620,예래동,남성,80,0.0000,0.0000,31.5179,그외

In [11]:
data['base_date'] = pd.to_datetime(data['base_date'])
data['base_month'] = data['base_date'].dt.month

data = data.drop(columns=['time', 'city', 'base_date', 'emd_cd','sex','resd_pop_cnt', 'work_pop_cnt', 'resd'], axis=1)

KeyError: 'base_date'

In [12]:
data

         emd_nm  visit_pop_cnt  base_month
0           한림읍       151.5149           1
1           한림읍       171.3458           1
2           한림읍       166.0500           1
3           한림읍       195.8539           1
4           한림읍       148.7246           1
...         ...            ...         ...
47250191    예래동       599.1969           6
47250192    예래동        75.5996           6
47250193    예래동         4.5128           6
47250194    예래동         4.5032           6
47250195    예래동        31.5179           6

[47250196 rows x 3 columns]

In [15]:
df = data.groupby(['base_month', 'emd_nm']).sum() / ( 24 * 30.4 )
df

                   visit_pop_cnt
base_month emd_nm
1          건입동      25742.092845
           구좌읍      27391.157494
           남원읍      30383.790241
           노형동      80644.426032
           대륜동      33917.927477
...                          ...
12         표선면      15578.403877
           한경면       8687.561123
           한림읍      22104.175211
           화북동      27358.734366
           효돈동       5091.099114

[516 rows x 1 columns]

In [16]:
df.to_csv("C://Users/zihyu/Desktop/새 폴더 (4)/국내 방문자.csv", encoding = 'cp949')