In [34]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
import os
import matplotlib.pyplot as plt

if os.name == 'posix':

    plt.rc("font", family="AppleGothic")

else :
    plt.rc("font", family="Malgun Gothic")

In [35]:
df = pd.read_csv("C://Users/zihyu/Desktop/새 폴더 (4)/최종4.csv", encoding = 'cp949')

In [36]:
df['base_month'] = df['base_month'].astype(str)

In [126]:
df['em_t_band'] = pd.cut(df['em_t'], bins = [0, 80, 300.55], labels=[0,1])

In [127]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['emd_nm'] = le.fit_transform(df['emd_nm'])
df['base_month'] = df['base_month'].astype(int)

df

,em_t,base_month,emd_nm,area,em_area_cd_cnt,resid_reg_pop,foreign_pop,d_visit_pop_cnt,l_visit_pop_cnt,s_visit_pop_cnt,pre_mm,em_t_band
0,43.58,1,0,2.53,30,9394.50,246.25,25742.09,819.21,515.95,85.3,0
1,11.55,1,1,185.93,104,15552.25,600.75,27391.16,739.62,256.40,59.8,0
2,53.27,1,2,188.71,51,18941.00,720.75,30383.79,1325.47,785.10,69.9,0
3,251.83,1,3,45.21,161,54146.00,2079.50,80644.43,2537.05,1758.83,79.2,1
4,52.89,1,4,22.24,36,14229.75,199.75,33917.93,704.69,243.59,70.8,0
...,...,...,...,...,...,...,...,...,...,...,...,...
453,23.30,12,35,135.16,47,12327.67,418.00,15578.40,425.34,347.10,64.4,0
454,7.56,12,36,79.10,70,9051.67,373.00,8687.56,413.23,80.90,51.4,0
455,32.50,12,37,91.09,110,21307.67,3589.67,22104.18,1549.58,362.10,60.7,0
456,113.14,12,38,8.29,74,24765.33,395.00,27358.73,250.39,35.78,58.0,1
457,15.25,12,39,6.60,20,5274.00,77.67,5091.10,109.71,26.14,64.1,0

In [128]:
X = df.iloc[:,1:11]
Y = df.iloc[:,-1]

In [129]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [130]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, shuffle=True, random_state=1004)

In [131]:
X_train

array([[ 0.42487418, -1.24434356,  0.66757754, ...,  2.05630714,
        -0.45253038,  0.72460828],
       [ 1.00401815,  0.72617885, -0.77784975, ..., -0.74677913,
        -0.63391329,  0.43344698],
       [-0.44384178, -0.73029424, -0.76861969, ..., -0.39528557,
         0.53197495, -0.84252457],
       ...,
       [-1.60212972,  1.24022818, -0.75828202, ..., -0.72597063,
        -0.54823569, -0.79304618],
       [-1.60212972, -0.73029424, -0.76861969, ..., -0.4739644 ,
         0.56522813, -0.59989016],
       [-1.60212972, -1.50136823,  2.6996674 , ...,  1.144526  ,
         0.88346231, -0.74642232]])

In [132]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [133]:
print(model.score(X_train, Y_train))

0.9863387978142076

In [135]:
predict = model.predict_proba(X_test)
predict = pd.DataFrame(predict)
print(predict)

           0         1
0   0.999184  0.000816
1   0.918365  0.081635
2   0.987313  0.012687
3   0.993726  0.006274
4   0.180268  0.819732
..       ...       ...
87  0.994207  0.005793
88  0.998810  0.001190
89  0.976793  0.023207
90  0.904321  0.095679
91  0.997183  0.002817

[92 rows x 2 columns]